@charset "UTF-8";

/* * {outline: 1px solid orange;} */
body, ul, li, fieldset, legend, h2, p {margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit;}
address {font-style: normal;}
fieldset {border: none;}
legend {display: none;}
input[type=radio] {margin: 3px 2px;}
input[type=checkbox] {margin: 3px 2px;}
button {border: none;}

:root {
    /* color */
    --white-color: #fff;
    --black-color: #111;
    --gray-color: #ccc;
    
    --font-color-top: #fff;
    --font-color-gnb: #fff;
    --bg-color-top: #111;
    --bg-color-gnb: #222;
    --bg-color-footer: #ccc;
    --bg-color-aside: lightskyblue;
    --bg-color-section: lightcyan;
    
    --btn-color: white;
    --btn-bg-color: green;
    
    
    /* spacing */
    
    /* font-size */
    font-size: 16px;
    
    --font-size-small: 0.8rem;
    --font-size-middle: 1.2rem;
    --font-size-big: 1.5rem;
}

/* 공통 */
.content {width: 600px; margin:0 auto;}

/* uppermost */
#uppermost {display: flex; align-items: center; height: 50px;
            background-color: var(--black-color);}
#uppermost .content {display:flex; justify-content: flex-end;
                     font-size: 0.8rem; font-weight: bold; color:var(--white-color);}
#uppermost .content .interval {padding: 0.5px;}


/* header */
#header {height: 150px;}
#header .content {height: 100%;
                  background-image: url('https://cdn.pixabay.com/photo/2022/07/28/23/42/rainbow-7350780_960_720.jpg');
/* background-size: 600px 150px;} */}

/* gnb */
#gnb {display: flex; align-items: center; height: 50px;}
#gnb .content {display: flex; align-items: center; height: 100%; background-color: var(--black-color);}
#gnb .gnb-menu {display: flex; flex:1;}
#gnb .gnb-menu .gnb-menu__item {flex: 1; /*flex-grow:1; flex-shrink:1; flex-basis:0;*/
                                display:flex; justify-content: center;
                                font-size: 0.8rem; font-weight: bold; color: var(--white-color);
                                position: relative;}
#gnb .gnb-menu .gnb-menu__item:hover {transition: all 1s;}
#gnb .gnb-menu .gnb-menu__item:hover::before {content: attr(title); display: inline-block; position: absolute; top: -15px; left: 90px;
                                              background-color: red; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;
                                              font-size: 0.8em; font-weight: bold;}
#gnb .gnb-menu .gnb-menu__item:hover:after {content: ''; display: block;
                                            position: absolute; bottom: -10px; left: 0; right: 0; margin: 0 auto; width: 0;
                                            border-style: solid; border-width: 10px; border-color: transparent transparent white transparent}
#gnb .gnb-menu .gnb-menu__item a {text-align: center;}
#gnb .gnb-menu .gnb-menu__item a:hover {text-decoration: underline;}
#gnb .gnb-menu .gnb-menu__item .title {display: inline-block; width: 100%; text-align: center;}

/* main */
#main .content {display: flex;}
#main .content .aside {flex: 1; background-color: var(--bg-color-aside);}
#main .content .section {display: flex; justify-content: center; flex: 4; background-color: var(--bg-color-section)}
#main .content .section .signup-wrap {width: 250px; margin: 30px 0px; background-color: white; padding: 20px;}
#main .content .section .signup-wrap .title {text-align: center; letter-spacing: 0.5em;}
#main .content .section .signup-wrap .signup li {margin: 0.3px;}


/* footer */
#footer {display: flex; align-items: center; height: 70px; background-color: gray;}
#footer .content {text-align: center; font-style: inherit; color: white;}

/* button */
.btn {color: var(--btn-color); background-color: var(--btn-bg-color);}

.btn.btn__join {margin-top: 1.2em; padding: 5px;}

.width--100 {width: 100%;}

.box-sizing--bdr {box-sizing: border-box;}

.font-weight-700 {font-weight: 700px;}
                